*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

.recipe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}
img{
    width: 100%;
    border-radius: 10px;
}

h1 {
    text-align: left;
    margin-bottom: 30px;
}
.Ingredients > ul{
    color: hsl(14, 45%, 36%);
}
ul li{
  font-size: 12px;
}

li {
  margin-left: 20px;
  padding-bottom: 10px;
}

.nutrition {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.time{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:   hsl(332, 71%, 84%);
    border-radius: 10px;
}
h2{
    color: hsl(14, 45%, 36%);
    padding-bottom: 20px;
}
h4{
   color: hsl(332, 51%, 32%);
   padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .systme{
    text-align: left;
    width: 10%;
    margin-left: 2cm;
  }
  .information{
    text-align: right;
    width: 30%;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }
  .list{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }
  .black{
    color: black;
    
  }
  .spans{
    margin-top: 1cm;
    margin-bottom: 1cm;

  }
p{
  color: #000;
}
.black-1{
  color: black;
  font-weight: normal;
}
.ex {
  margin-left: 40px;
}
.cx{
  padding-bottom: 20px;
}