*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

.recipe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}
img{
    width: 100%;
    border-radius: 10px;
}

h1 {
    text-align: left;
    margin-bottom: 30px;
}
.Ingredients > ul > li{
    color: hsl(30, 10%, 34%);
}

li {
    margin-left: 1cm;
}

.nutrition {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.time{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  rgb(248, 187, 208);
}
h2{
    color: hsl(30, 10%, 34%);
}
h4{
   color: rgb(236, 64, 122); 
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .systme{
    text-align: left;
    width: 10%;
  }
  .information{
    text-align: right;
    width: 30%;
    color: hsl(30, 10%, 34%);
    font-size: 20px;
  }